<% if subscription.errors.any? %>
  <div>
    <h2><%=t('notice.errors')%></h2>
    <ul>
      <% subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
