<h1><%= t('subscriptions.edit.title') %></h1>

<%= render partial: 'errors', locals: { subscription: @subscription} %>
  
<div class='box tabular'>
<%= render partial: 'form', locals: { subscription: @subscription, action: :update } %>
</div>
   
<%= link_to t('button_back'), project_subscriptions_path(@project) %>
